.matches-chat-container {
    display:flex;
    flex-direction: row;
    /* align-items: center; */
    justify-content: space-evenly;
    min-height: 80vh;
}

.matches-chat-container .matches-container {
    display: flex;
    flex-direction: column;
    width: 30%;
    border: 2px solid #EA0A84;
    /* overflow-y: scroll; */
    /* margin: 1rem; */
}

.matches-chat-container .matches-container .matches .heading{
    font-weight: 700;
    font-size: 2rem;
    /* text-align: center; */
    padding: 1rem;
}

/* chat */
.matches-chat-container .chat {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    border: 2px solid #EA0A84;
    /* margin: 1rem; */
}

.matches-chat-container .chat .info{
    display: grid ;
    /* grid-template-rows: 1fr 3fr 1fr; */
    height:inherit;
}

.matches-chat-container .chat .info .avatar-info{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: rgb(223, 223, 223);
    padding: 1rem;
}

.matches-chat-container .chat .info .avatar-info .name{
    width: 80%;
    text-align: center;
    font-size: 3rem;
}

.matches-chat-container .chat .texting{
    /* height: 100%; */
    height:59vh;
    /* overflow-y: scroll; */
}
.select-head{
    font-size: 3vw;
    text-align: center;
    margin: auto;

    
    /* margin-top: 25%; */
}
.chat-class{
    display: flex;
    flex-direction: column; 
    align-items: flex-end;
    background: rgb(73,193,194);
background: linear-gradient(0deg, rgba(73,193,194,1) 0%, rgba(239,198,109,1) 100%);
    /* background: rgb(238,174,202);
    height: 100%;
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%); */
}

.sender{
    padding: 0.8rem;
    /* display: flex; */
    width: max-content;
    max-width: 200px;
    background-color: rgb(170, 244, 74);
    height: min-content;
    /* border-radius: 20px; */
    margin: 0.6rem;
    /* padding: 10px; */
    border: none;
    /* border: 2px solid red; */
    /* padding: 10px; */
    border-radius: 15px 15px 0 15px;
    /* position: relative;
    left: 90%; */
}

.receiver{
    /* width: 100%; */
    /* display: flex; */
    padding: 0.9rem;
    width: max-content;
    max-width: 200px;
    background-color: rgb(239, 102, 180);
    height: min-content;
    /* border-radius: 20px; */
    margin: 0.6rem;
    align-self: baseline;
  
    border-radius: 15px 15px 15px 0;
    /* float: left; */
}

.drawer-select{
    display: flex;
    flex-direction: row;
}

.side-drawer {
    display: none;
}


@media screen and (max-width: 600px) {
    .matches-container {
        display: none !important;
    }
    .matches {
        display: none;
    }
    .chat{
        width: 100%;
    }
    .side-drawer {
        display: block;
    }
    .select-head{
        font-size: 2rem;
    }
} 