.home-container{
    /* background: url("./home-pic.png"); */
    background: url("../../image/home-pic.png");
    /* width: 100%; */
    
    height:80vh;
    background-position: 25% ; 
    background-size:contain , cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    margin-top: -3rem;
}

.home-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:36vw;
}

.home-content .welcome-text{
    font-size: 2.6rem;
    color: #222121;
}

.home-content .web-name{    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 3.7rem;
    line-height: 4rem;
    color: #EA0A84;
}

.home-content .brief{
    margin-top: 3rem;
    /* width: 30vw; */
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.8rem;
    color: #504E4E;
}

.home-content .register-btn {
    /* font-size: 2rem !important; */
    /* width: 20rem !important; */
    /* height: 100px !important; */
    margin-top: 2rem !important;
}

.home-content .log-link{
    margin-top: 1rem;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}

.home-content span{
    color: #EA0A84;
}

.small-screen-bg {
    visibility:hidden;
    width:0px;
    /* display:none; */
}

@media screen and (max-width:700px) {

    .home-container {
        margin-top: 1rem;
        background:none;
        padding: 1rem;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-evenly;
        overflow-y: scroll;
    }

    .small-screen-bg {
        display:block !important;
        width: 100%;
        visibility: visible;
    }
 
    .home-content {
        /* padding: 1rem; */
        width: 100%;
        margin:0;
    }   

    .home-content .welcome-text {
        font-size: 1.6rem;
        color: #222121;
    }

    .home-content .web-name {    
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 2.4rem;
        line-height: 2rem;
        color: #EA0A84;
    }

    .home-content .brief{
        margin-top: 1.5rem;
        margin-left: 0.5rem;
        width: 60vw;
        font-weight: 400;
        font-size: 0.9rem;
        line-height: 1.2rem;
        color: #504E4E;
    }

    .home-content .register-btn {
        margin-top: 1rem !important;
        height: 2rem !important;
        width: inherit
    }
}